rpyc
pycryptodome
pefile 
pyyaml
rsa
netaddr
ecdsa==0.14
paramiko==2.0.9
tinyec
psutil
netifaces
m2crypto
pylzma
mss==2.0.22
colorama
pyOpenSSL
scapy
impacket
pyuv
dnslib
http-parser
cerberus
logutils
secretstorage
pygments
requests
pyautogui
tornado
keyboard
